@import url(https://fonts.googleapis.com/css2?family=Montserrat&display=swap);


/* GENERAL */
body{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    background-color: #D9D9D9;
    padding: auto;
    display: flex;
    flex-direction: column;
}

.main{
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 88%;
  margin: auto;
  box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.25);
  padding: 1rem;
  overflow: auto;
}
  
.center-container{ 
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  
}

h1, h2, h3, h4, h5{
  font-weight: 300;
  margin-bottom: 0;
}

.subtitle{
  font-size: 15px;
  font-weight: 400;
}

.long-desc{
  width: 75%;
  font-size: 20px;
  margin-left: auto;
  margin-right: auto;
}

/*HOME PAGE*/

.home-button{
  background-color: #FBCF9C;
  text-decoration: none;
  border-radius: 5%;
  box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.25);
  padding: 1rem;
  width: 10rem;
  margin: 0 1rem;
}

.flex{
  display: flex;
  /* flex-direction: column; */
}

.nav-link{
  color: black;
  text-decoration: none;
}

.arrow-down{
  border: solid black;
  border-width: 0 2px 2px 0;
  /* display: inline-block; */
  padding: 4px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  float: right;
  margin-right: 9px;
  cursor: pointer;
}

.toggle-click{
  width: 90%;
  font-size: 1rem;
  background-color:#D9D9D9;
  padding: 3%;
  /* outline: 1px solid black; */
  border-radius: 5px;
  margin: 0 auto;
  
}

.toggle-expand{
  width: 90%;
  font-size: 1rem;
  padding: 3%;
  border-radius: 5px;
  background-color:#D9D9D9;
  /* outline: 1px solid black; */
  margin: 0 auto;
}

.faq{
  margin-bottom: 1rem;
  margin-left: 3rem;
  margin-right: 3rem;
  align-items: center;
}

.faq-box{
  margin-top: 3rem;
  margin-bottom: 3rem;
  padding-bottom: 3rem;
  align-items: center;
}

/* QUIZ */ 
.mainQuizComponent{
  width: 50%;
  position: relative;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #FBCF9C;
  box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.25);
  border-radius: 2%;
  margin-top: 3rem;
  margin-bottom: 3rem;
  border-bottom: 3rem;
  padding: 3rem;
}

.launch-quiz{
  width: 75%;
  margin: auto;
  padding-bottom: 3rem;
  margin-bottom: 2rem;
}

.question-box{
  background-color: #D9D9D9;
  padding: 3rem 1rem;
  width: 75%;
  margin: auto;
  margin-bottom: 1rem;
  box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.25);
}

.question-box p{
  font-weight: bold;
}
.link{
  margin-top: 5rem;
}

.test{
  margin-top: 1rem;
}


/* HEADER */
.header {
    margin: 2.5rem;
    display: flex;
    align-items: flex-end;
}
  
.home-logo {
    cursor: pointer;
    /* object-fit: cover; */
    height: 60px;
    width: auto;
}
  
.nav-bar {
    display: flex;
    margin-left: auto; /* Aligns the nav-bar to the right */
}
  
/* BUTTON */
button {
  appearance: none;
  background-color: #FAFBFC;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: #24292E;
  cursor: pointer;
  display: inline-block;
  /* font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji"; */
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 6px 16px;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
}

button:hover {
  background-color: #F3F4F6;
  text-decoration: none;
  transition-duration: 0.1s;
}

.button:disabled {
  background-color: #FAFBFC;
  border-color: rgba(27, 31, 35, 0.15);
  color: #959DA5;
  cursor: default;
}

button:active {
  background-color: #EDEFF2;
  box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
  transition: none 0s;
}

button:focus {
  outline: 1px transparent;
}

 
/* CAROUSEL */
.carousel-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.box {
  /* Box styles */
  width: 18rem; /* Adjust the width as needed */
  height: auto; /* Adjust the height as needed */
  padding: 1rem;
  margin: 0.5rem; /* Adjust the spacing between boxes as needed */
  /* outline: 1px solid black; */
  background-color:#D9D9D9;
  border-radius: 5%;
  vertical-align: center;
}

.box h1, h2{
  font-size: large;
}
.box p{
  font-size: medium;
}
@media (max-width: 1250px) {
  .box{
    width: 12rem;
    height: auto;
  }
  .box h1, h2{
    font-size: medium;
  }
  .box p{
    font-size: small;
  }
}

@media (max-width: 900px) {
  .carousel-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}