@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap);

/* GENERAL */
body{
    background-color: #ffe4c4;
    font-family: 'Poppins', sans-serif;
    padding: auto;
    display: flex;
    flex-direction: column;
    overflow: auto;
    padding: 1rem;
}
.center-container{ 
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1rem;
}

h1, h2, h3, h4, h5{
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  margin-bottom: 0;
}

.subtitle{
  font-size: 15px;
  font-weight: 400;
}

.long-desc{
  width: 75%;
  font-size: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem
}

.flex{
  display: flex;
}

.buttons{
  margin-top: 2rem;
}

button {
  font-family: 'Poppins', sans-serif;
  border: 1px solid black;
  border-radius: 20px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: #24292E;
  cursor: pointer;
  line-height: 20px;
  list-style: none;
  padding: 6px 16px;
  position: relative;
}

.nav-link{
  color: black;
  font-size: larger;
  text-decoration: none;
  margin-left: 2rem;
  margin-top: 1rem;
}

/* HEADER */
.header {
  display: flex;
}

.home-logo {
  cursor: pointer;
  height: 60px;
  width: auto;
}

.nav-bar {
  display: flex;
  margin-left: auto; 
}
@media (max-width: 580px) {
  .nav-bar{
    flex-direction: column;
    font-size: x-small;
  }
}

/*HOME PAGE*/
.main-title{
  width: 75%;
  font-size: 2.5rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 14rem;
  margin-bottom: 1rem;
}
@media (min-width: 1500px) {
  .main-title{
    margin-top: 16rem;
    margin-bottom: 4rem;
  }
}

.welcome-container{
  background-color: #ffe4c4;
}

/*FAQs*/
.arrow-down{
  border: solid black;
  border-width: 0 2px 2px 0;
  padding: 4px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  float: right;
  margin-right: 9px;
  cursor: pointer;
}

.toggle-click{
  font-size: 1rem;
  background-color:#FFFAFA;
  padding: 3%;
  border-radius: 5px;
  margin: 0 auto;
}

.toggle-expand{
  font-size: 1rem;
  padding: 3%;
  border-radius: 5px;
  background-color:#FFFAFA;
  margin: 0 auto;
}

.faq{
  margin-top: 1rem;
  margin-left: 3rem;
  margin-right: 3rem;
  align-items: center;
}

.faq-box{
  margin-top: 3rem;
  margin-bottom: 3rem;
  padding-bottom: 3rem;
  align-items: center;
  width: 70%;
}

@media (max-width: 900px) {
.faq-box{
  width: 90%;
}
.toggle-click{
  padding: 5%;
}
}

/* CASE PAGE */
.case-timeline{
  margin-top: 3rem;
}

.additional-resources{
  margin-bottom: 3rem;
}
.mainQuizComponent{
  width: fit-content;
  position: relative;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #FBCF9C;
  box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.25);
  border-radius: 2%;
  margin-top: 3rem;
  margin-bottom: 3rem;
  border-bottom: 3rem;
  padding: 3rem;
}

/* QUIZ */ 
.launch-quiz{
  width: 75%;
  margin: auto;
  margin-top: 5rem;
  padding-bottom: 3rem;
  margin-bottom: 2rem;
}

.question-box{
  background-color: #FBCF9C;
  padding: 3rem 1rem;
  width: 90%;
  margin: auto;
  margin-bottom: 1rem;
  box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.25);
}
.link{
  margin-top: 1rem;
}

.test{
  margin-top: 1rem;
}
 
/* CAROUSEL */
.carousel{
  overflow-y: auto;
}
.carousel-container {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 33%;
}
.box{
  background-color: #FFFAFA;
  margin: 0.5rem;
  border-radius: 5%;
  padding: 1rem;
  padding-top: auto;
}

.box h1, h2{
  font-size: large;
}
.box p{
  font-size: medium;
}

.timeline-text{
 /* background-color: black; */
 margin-top: auto;
}

/* @media (max-width: 1250px) {
  .box{
    width: 12rem;
    height: auto;
  }
  .box h1, h2{
    font-size: medium;
  }
  .box p{
    font-size: small;
  }
} */

@media (max-width: 900px) {
  .carousel-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}